

header{
    background-color: #0E1015;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 85%;
    padding: 10px;
}

nav img {
    width: 120px;
}
nav .menu{
    display: flex;
    align-items: center;
    width: 82px;
    justify-content: space-between;
}
nav .menu p{
    font-family: "Krona One", sans-serif;
    margin: 0;
}
nav .menu i{
    height: 19.19px;
}
nav .menu img{
    width: 20px;
}
nav input {
    width: 40%;
    background-color: #1B1D23;
    /*padding: 16px, 32px, 16px, 32px;*/
    width: 40%;
    background-color: #1B1D23;
    /*padding: 16px, 32px, 16px, 32px;*/
    border: none;
    outline: none;
    color: white;
    height: 34px;
    border-radius: 4px;
    padding-left: 32px;
    font-family: 'Karla', 'sans-serif';
    background-image: url('../../assets/img/iconSearch.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-y: 50%;
    background-position-x: 5px

}


